.text-input {
    height: 35px;
    border-color: #09f;
}
.send-message {
    font-size: 16px;
    width: 100%;
    height: auto;
}
.input-bar {
    position: relative;
    bottom: 0px;
    margin: 10px 0px 20px 0px;
}