.room-title {
    text-align: center;
    color: white !important;
    font-size: 45px !important;
    margin-bottom: 10px !important;
}
.modal-okay {
    width: 40%;
}
.modal-content {
    max-height: 60vh;
    overflow-y: auto;
    font-size: 16px;
}
.view-users-chat {
    display: none;
    margin: 0px 10px;
}
.view-users-video {
    margin: 0px 10px;
}
.ant-modal-content {
    text-align: center;
}
.ant-modal-header {
    border-bottom: 1px solid #0498ff;
}
.ant-modal-footer {
    border-top: 1px solid #0498ff;
}

/* responsive CSS */
@media only screen and (max-width: 768px) {
    .view-users-chat {
        display: inline;
    }
}